* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #383333;
    font-size: 20px;
}

#titulo {
    padding: 15px 15px 3px 12px;
}

/*div {
    display: block;
}*/

.barralateral {
    min-width: 310px;
    max-width: 310px;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.20, 0.270, 0.665);
    transform-origin: bottom left;
    background: #008cba;
}

ul li a {
    padding: 10px;
    display: flex;
    background: #008cba;
    color: #fff;
    text-align: center;
}