body {
    background-color: #172554;
}

a {
    text-decoration: none;
    color: aliceblue;
    max-width: 40%;
}
.container {
    width: 100%;
}
      
.box {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.barraLateral {
    max-width: 40%;
    min-width: 50%;
    background: #202123;
    margin-top: -17px;
}

.conteudo {
    text-align: right;
    background-color: darkgrey;
}

header {
    background-color: #172554;
    margin-top: 0;
    color: aliceblue;
}